:root {
  // colors
  --blue: #3f51b5;
  --grey: rgb(240, 240, 240);
  --white: #ffffff;
  --grey-light: #eee;
  --grey-dark: #ccc;
  --grey-darker: #9b9b9b;

  // Declare all font-sizes that will be used
  --font-size-h1: 28px;
  --font-size-large: 20px;
  --font-size-p-small: 18px;
  --font-size-small: 16px;
}
